<div id="navbar-container">
    <div id="navbar-left">
        <p id="app-name">GPX App</p>
        <img id="logo" src="logo.jpg" />
    </div>
    <div id="navbar-expander"></div>

    @if (logInfo.isLoggedIn()) {
        <mat-button-toggle-group id="navbar-middle" class="navbar-group" [hideSingleSelectionIndicator]="true">

            <mat-button-toggle 
            value="traces"
            [checked]="mode.state() === 'traces'"
            (change)="mode.changeMode('traces')">
                <mat-icon>timeline</mat-icon>Traces
            </mat-button-toggle>

            <mat-button-toggle 
            value="liste"
            [checked]="mode.state() === 'liste'"
            (change)="mode.changeMode('liste')">
                <mat-icon>list</mat-icon>Gérer mes traces
            </mat-button-toggle>

            <mat-button-toggle 
            value="upload"
            [checked]="mode.state() === 'upload'"
            (change)="mode.changeMode('upload')">
                <mat-icon>upload</mat-icon>Importer une trace
            </mat-button-toggle>

        </mat-button-toggle-group>
    }

    <div id="navbar-right" class="navbar-group">

        <!-- si on veut mettre des trucs après le selecteur
         de mode, on peut ici -->
        @if (logInfo.isLoggedIn()) {
            <button matButton
                (click)="logout()"
            >
                <mat-icon>logout</mat-icon>Se déconnecter
            </button>
        }@else {
            <button matButton (click)="login()">
                <mat-icon>login</mat-icon>Se connecter
            </button>
        }

    </div>
</div>