#legend {
    min-width: 5em;
    padding: .5em;
    background-color: var(--ol-background-color);
    font-family: var(--gpx-ol-font);
}

#legend .square-btn {
    aspect-ratio: 1/1;
}

#legend .header-message {
    font-weight: bold;
    color: var(--ol-subtle-foreground-color);
}

#legend .empty-message {
    font-style: italic;
    color: var(--ol-subtle-foreground-color);
}