<table id="legend">
    @for (layerName of mapWrapper.getLayersNames(); track $index) {
        <tr>
            <td
                class="colour-display"
                [style.background-color]="mapWrapper.getLayerColor(layerName)"
            ></td>
            <td>{{layerName}}</td>
            <td>
                <button mat-icon-button class="visibility-btn" (click)="mapWrapper.toggleVisibility(layerName)">
                    <mat-icon>{{mapWrapper.getVisibilityOf(layerName) ? "visibility" : "visibility_off"}}</mat-icon>
                </button>
            </td>
        </tr>
    } @empty {
        <thead>
            <td class="header-message" colspan="3">Légende</td>
        </thead>
        <tr>
            <td class="empty-message" colspan="3">Ajoutez des traces <br /> pour les gérer ici</td>
        </tr>
    }
</table>