<table id="legend">
    @for (layerName of mapWrapper.getLayers(); track $index) {
        <tr>
            <td>{{layerName}}</td>
            <td><button class="square-btn" (click)="mapWrapper.removeLayer(layerName)">🗑</button></td>
        </tr>
    } @empty {
        <thead>
            <td class="header-message" colspan="2">Légende</td>
        </thead>
        <tr>
            <td class="empty-message" colspan="2">Ajoutez des traces <br /> pour les gérer ici</td>
        </tr>
    }
</table>