.title {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 8px; /* petit espace avant les cartes */
}

.traces-container {
  display: flex;
  flex-wrap: wrap; /* permet de passer à la ligne si pas assez de place */
  gap: 16px;       /* espace entre les cartes */
  padding: 16px;
  justify-content: center; 
  
  position: relative; /* nécessaire pour que z-index fonctionne */
  z-index: 1;         /* plus petit que la navbar */
}

.flip-wrapper {
  perspective: 1000px;
  width: 320px; /* taille fixe pour garder la carte uniforme */
  flex-shrink: 0; /* empêche le rétrécissement */
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 180px; 
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-wrapper:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.flip-front {
  z-index: 2;
}

.flip-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.flip-back app-gpx-preview-map {
  width: 100%;
  height: 100%;
}

.trace-actions {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
