#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#navbar-left {
    margin-left: 1vw;
}

#navbar-right {
    margin-right: 1vw;
}

#logo {
    position: absolute;
    left: 50%;
    right: 50%;
    height: var(--navbar-height);
}