<app-gpx-navbar></app-gpx-navbar>
<div id="gpx-display-main">
    @switch (mode.state()) {
        @case ('traces') {
            <div id="gpx-display-map">
                <app-gpx-map></app-gpx-map>
            </div>
            <div id="gpx-display-after">
                <app-list-gpx></app-list-gpx>
            </div>
        }

        @case ('login') {
            <app-login></app-login>
        }

        @case ('register') {
            <app-register></app-register>
        }
        
        @case ('upload') {
            <app-upload-gpx></app-upload-gpx>
        }

        @case ('liste') {
            <app-mes-traces></app-mes-traces>
        }


        @default {
            <p>ERREUR! Chloé, si tu vois ça, c'est que tu n'as pas mis <br />
            ton module dans <code>gpx-display.html</code> 😁</p>
        }
    }
    
</div>
