#gpx-display-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gpx-display-map {
    height: 80vh;
    min-width: 80vw;
}

#gpx-display-after {
    padding-left: 1vw;
    padding-right: 1vw;
}
