/* You can add global styles to this file, and also import other style files */

body {
    --gpx-gold: #E3B505;
    --gpx-blue: #1D8EA5;
    --gpx-light-blue: #3794A2;
    --gpx-black: #242424;
    --gpx-ol-font: 'MS Shell DLg \32';
}

/* properties for injected DOM from open layers */
#ol-map .ol-control.ol-zoom {
    left: auto;
    right: .5em;
}

#ol-map .ol-control.ol-rotate {
    right: 2.2em;
}

#ol-map .ol-control.ol-fullscreen {
    right: .5em;
    bottom: 1.2em;
}

#ol-map .ol-control.ol-legend {
    left: .5em;
    bottom: .5em;
    z-index: 1;
}